.rbc-event {
  background: none !important;
  box-shadow: none !important;
  border: none !important;
}

.rbc-event-label {
  display: none !important;  /* Tus clases personalizadas */
}
.my-custom-event {
  height: auto !important; /* Esto permitirá que el contenido determine la altura */
  min-height: 100% !important; /* Esto hará que el evento ocupe toda la altura disponible */
  /* Otros estilos que desees aplicar */
}

.my-pending-event {
  color: red;
}
